*
	{
		margin: 0;
	}

.blue
	{
		background-color: aqua;
		border: 2px solid forestgreen;
		margin: 5px;
	}

.or
	{
		background-color: bisque;	
		width: 300px;
		height: 100px;
	}

ul
	{
		padding-top: 15px;
	}

.text
	{
		background-color: darkgray;	
		margin-left: 200px;
		margin-top: -100px;
		margin-right: 5px;
		font-size: 11px;
		line-height: 20px;
	}

@media screen and (max-width: 800px)
	{
		.or
			{
				background-color: bisque;		
				width: 150px;
				height: 80px;				
			}

		.text
			{
				background-color: darkgray;	
				margin-right: 300px;
				margin-left: 0px;
				margin-top: 0;
				font-size: 11px;
				line-height: 15px;
			}
	}
